.main {
  min-height: 100vh;
  min-width: 100vw;
}

/* .container_files {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.container_files div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70px;
}